/* Normalize CSS*/
@import  "_normalize";
@import  "animate-custom";
@import "fonts";

// DEFAULTS
$defaultFontSize: 12px;
$defaultPadding: 1rem;
$bgColour: #F5EDE3;
// darker bg colour E1D4C0 
$blue: #2881E2;
$darkBlue: #104386;
$orange: #E94506;
$grey: #a1a1a1 ;
$black: #212121;

// clearfix 
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


body {
	font-size: $defaultFontSize;
}

body * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

// LAYOUT
#map  {
	position:  absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height: 100%;
	width:100%;
	z-index: -1;
}

// LOGO Box
#logoBox {
	@extend .cf;
	position: absolute;
	bottom:0;
	left:50%;
	margin-left:-360px;
	h1 { 
		float:right;
		margin:0;
		background: white;
		padding:0.3em; 
		border-radius: 5px  5px 0 0;
		box-shadow: 0 2px 6px rgba(0,0,0,0.3); 
		position: relative;
		z-index: 2;
	}
	img {
		height: 35px;
		display:block;
	}
	#navMenu {
		float:right;
		position: relative;
		z-index: 1;
		a {
			text-decoration: none;
			border-radius: 0 5px 0 0;
			display:block;
			background: $blue;
			padding: $defaultPadding/2;
			margin-top:5px;
			box-shadow:  0 0px 0px rgba(0,0,0,0) inset;
				-webkit-transition: all 0.2s ease;
				-moz-transition: all 0.2s ease;
				-o-transition: all 0.2s ease;
				-ms-transition: all 0.2s ease;
				transition: all 0.2s ease;
			span {
				display: block;
				background: white;
				margin: 4px;
				height: 4px;
				width: 25px; 
				font-size:0.5rem;
				line-height: 1;
				box-shadow: 0 0px 0px rgba(0,0,0,0.3);
				-webkit-transition: all 0.2s ease;
				-moz-transition: all 0.2s ease;
				-o-transition: all 0.2s ease;
				-ms-transition: all 0.2s ease;
				transition: all 0.2s ease;
			}
			&:hover {
				box-shadow:   0 2px 5px rgba(0,0,0,0.3) inset;
				span {
					box-shadow: 0 1px 2px rgba(0,0,0,0.3);
				}
			}
		}
	}
}

// POPUP CONTAINER
.popUp {
	background: $bgColour;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);  
	position: absolute;
	@media screen and (min-width:500px) {
		 // MOVE IT BACK TO 10% WHEN THE PANEL SWITCH IS DONE
		top:20%;
		left:50%;
		margin-left:-250px;
		width: 500px;
	}
	@media screen and (min-width:720px) {		
		 // MOVE IT BACK TO 10% WHEN THE PANEL SWITCH IS DONE
		top:20%;
		left:50%;
		margin-left:-360px;
		width: 720px;
	}
	header {
		background: $darkBlue;
		padding: $defaultPadding;
		color: #fff;
		h2 {
			font-weight: 100;
			margin: 0.2em 0;
			font-size:1.4rem;
		}
	}
	section {
		padding: 0 $defaultPadding;
		p:first-of-type {
			font-size:0.9rem;
			line-height: 1.5;
			font-weight: 400;
		}
	}
	footer {

		padding:0 $defaultPadding;
	}
}
//GAUGES
.gaugesPanel {
	position: absolute;
	display:none;
	top:5%;
	left:50%;
	&.active {
		@extend .animated;
		@extend .flipInX;
		display:block;
	}
	@media screen and (min-width:500px){
		width: 500px;
		margin-left:-250px;
	}
	@media screen and (min-width:720px){
		width:720px;
		margin-left: -360px;
	}
	
	.profileBox {
		position: relative;
		z-index: 2;
		width:20px;
		height:50px;
		float:left;
		.profile{
			position:absolute;
			top:50%;
			left:50%;
			margin-top:-55px;
			margin-left:-55px;
			border-radius: 100%;
			width:110px;
			height:110px;
			padding:10px;
			background: $bgColour;
			overflow: hidden;
			box-shadow: 0 3px 5px rgba(0,0,0,0.3);
			img {
				height:100%;
				width:100%;
				border-radius: 100%;
				box-shadow: 0 1px 0 rgba(255,255,255,0.9), inset 0 1px 1px rgba(0,0,0,1);
			}
		}
	}
	.popularity, .deaths {
		// border: 1px solid rgba(255,255,255,0.6);
		// background: rgba(255,255,255,0.5);
		border-radius: 50px;
		width:350px;
		height:50px;
		position:relative;
		// overflow: hidden;

	}

	.popularity .popularityValue, .deaths .deathsValue {
		height:50px;
		border-radius: 50px;
		box-shadow: 0 2px 2px rgba(0,0,0,0.2);
		color:#fff;
		font-weight: 100;
		font-size: 1.5rem;
		padding:0.8rem;
		line-height: 1;
		-webkit-transition: width 0.5s ease;
		-moz-transition: width 0.5s ease;
		-o-transition: width 0.5s ease;
		-ms-transition: width 0.5s ease;
		transition: width 0.5s ease;
	}
	.popularity {
		float: left;
		.popularityValue {
			float:right;
			background:$blue;
			text-align: left;
			min-width:30%;		
		}
	}
	.deaths {
		float: right;
		.deathsValue {
			float:left;
			background:$orange;
			text-align: right;
			min-width:30%;
		}
	}
}
//BUTTON
.button {
	font-size:1.2rem;
	font-weight: 100;
	padding: $defaultPadding*0.8 $defaultPadding*1.5;
	margin-bottom: 1rem;
	margin-right: 1rem;
	border-radius:3px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	border:none;
	box-shadow:  0 0px 0px rgba(0,0,0,0) inset;
				-webkit-transition: all 0.2s ease;
				-moz-transition: all 0.2s ease;
				-o-transition: all 0.2s ease;
				-ms-transition: all 0.2s ease;
				transition: all 0.2s ease;

	&.blue {
		background: $blue;
		border:1px solid darken($blue, 2%);
		color:#fff;
		text-shadow: 0 0px 0px rgba(0,0,0,0.3);
	}
	&.darkBlue {
		color:#fff;
		background: $darkBlue;
		border:1px solid darken($darkBlue, 2%);
		text-shadow: 0 0px 0px rgba(0,0,0,0.3);
	}
	&.grey {
		color:$black;
		background: $grey;
		border:1px solid darken($grey, 2%);
		text-shadow: 0 0 0 rgba(255,255,255,0.7);
	}
	&.orange {
		color:#fff;
		border:1px solid darken($orange, 2%);
		background: $orange;
		text-shadow: 0 0px 0px rgba(0,0,0,0.3);
	}
	&:hover { 
	   	box-shadow:   0 2px 5px rgba(0,0,0,0.3) inset;
	   	&.blue {text-shadow: 0 1px 3px rgba(0,0,0,0.5);}
	   	&.darkBlue {text-shadow: 0 1px 3px rgba(0,0,0,0.5);}
   		&.grey {text-shadow: 0 1px 2px rgba(255,255,255,0.7)}
   		&.orange {text-shadow: 0 1px 3px rgba(0,0,0,0.5);}	
 	}
}


// TYPOGRAPHY
h1, h2 , h3, h4, h5, h6 {
	margin: 0.5em 0 1em;
	font-family: 'Roboto Slab',  'Times', serif;
}

p  {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height:1.4;
	font-size:0.8rem;
	font-weight:200;
}



ul	{
	padding-left: 1.5rem;
}