/* Normalize CSS*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.animated, .gaugesPanel.active {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

.animated.hinge, .hinge.gaugesPanel.active {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0; }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg); }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg); }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }

@-moz-keyframes flipInX {
  0% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0; }

  40% {
    -moz-transform: perspective(400px) rotateX(-10deg); }

  70% {
    -moz-transform: perspective(400px) rotateX(10deg); }

  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }

@-o-keyframes flipInX {
  0% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0; }

  40% {
    -o-transform: perspective(400px) rotateX(-10deg); }

  70% {
    -o-transform: perspective(400px) rotateX(10deg); }

  100% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0; }

  40% {
    transform: perspective(400px) rotateX(-10deg); }

  70% {
    transform: perspective(400px) rotateX(10deg); }

  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }

.flipInX, .gaugesPanel.active {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInX;
  backface-visibility: visible !important;
  animation-name: flipInX; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-justin-burns-skull, .icon-heart {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 0.9em; }

.icon-justin-burns-skull:after {
  content: "\21";
  margin-left: 0.1em;
  position: relative;
  top: 2px; }

.icon-heart:before {
  content: "\22";
  margin-right: 0.1em;
  position: relative;
  top: 2px; }

.cf:before, #logoBox:before,
.cf:after,
#logoBox:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after, #logoBox:after {
  clear: both; }

body {
  font-size: 12px; }

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }

#logoBox {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -360px; }
  #logoBox h1 {
    float: right;
    margin: 0;
    background: white;
    padding: 0.3em;
    border-radius: 5px  5px 0 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2; }
  #logoBox img {
    height: 35px;
    display: block; }
  #logoBox #navMenu {
    float: right;
    position: relative;
    z-index: 1; }
    #logoBox #navMenu a {
      text-decoration: none;
      border-radius: 0 5px 0 0;
      display: block;
      background: #2881e2;
      padding: 0.5rem;
      margin-top: 5px;
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      #logoBox #navMenu a span {
        display: block;
        background: white;
        margin: 4px;
        height: 4px;
        width: 25px;
        font-size: 0.5rem;
        line-height: 1;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      #logoBox #navMenu a:hover {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset; }
        #logoBox #navMenu a:hover span {
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }

.popUp {
  background: #f5ede3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  transition: top 0.5s ease; }
  @media screen and (min-width: 500px) {
    .popUp {
      top: 20%;
      left: 50%;
      margin-left: -250px;
      width: 500px; } }
  @media screen and (min-width: 720px) {
    .popUp {
      left: 50%;
      margin-left: -360px;
      width: 720px; }
      .popUp.welcome {
        top: 10%; } }
  .popUp header {
    background: #104386;
    padding: 1rem;
    color: #fff; }
    .popUp header h2 {
      font-weight: 100;
      margin: 0.2em 0;
      font-size: 1.4rem; }
  .popUp section {
    padding: 0 1rem; }
    .popUp section p:first-of-type {
      font-size: 0.9rem;
      line-height: 1.5;
      font-weight: 400; }
  .popUp footer {
    padding: 0 1rem; }

.gaugesPanel {
  position: absolute;
  display: none;
  top: 25px;
  left: 50%; }
  .gaugesPanel.active {
    display: block; }
  @media screen and (min-width: 500px) {
    .gaugesPanel {
      width: 500px;
      margin-left: -250px; } }
  @media screen and (min-width: 720px) {
    .gaugesPanel {
      width: 720px;
      margin-left: -360px; } }
  .gaugesPanel .profileBox {
    position: relative;
    z-index: 2;
    width: 20px;
    height: 50px;
    float: left; }
    .gaugesPanel .profileBox .profile {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -30px;
      margin-left: -36px;
      border-radius: 100%;
      width: 72px;
      height: 70px;
      padding: 10px;
      background: #f5ede3;
      overflow: hidden; }
      .gaugesPanel .profileBox .profile img {
        width: 91px;
        margin-left: -23px;
        margin-top: -10px; }
      .gaugesPanel .profileBox .profile video {
        height: 75px;
        width: 103px;
        margin-left: -23px;
        margin-top: -17px; }
    .gaugesPanel .profileBox .frame {
      box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.9) inset, 0 1px 1px black inset;
      position: absolute;
      z-index: 100;
      border: 15px solid #f5ede3;
      border-radius: 100%;
      top: -20px;
      left: -40px;
      width: 100px;
      height: 100px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); }
  .gaugesPanel .popularity, .gaugesPanel .deaths {
    border-radius: 50px;
    width: 350px;
    height: 50px;
    position: relative; }
    .gaugesPanel .popularity p, .gaugesPanel .deaths p {
      margin: 0rem 11.5% 0.2rem;
      color: #333;
      font-size: 0.7rem;
      font-weight: 600;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7); }
  .gaugesPanel .popularity .popularityValue, .gaugesPanel .deaths .deathsValue {
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: 100;
    font-size: 1.5rem;
    padding: 0.8rem;
    line-height: 0.8;
    min-width: 36%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease; }
  .gaugesPanel .popularity {
    float: left; }
    .gaugesPanel .popularity p {
      text-align: right; }
    .gaugesPanel .popularity .popularityValue {
      float: right;
      background: #2881e2;
      text-align: left; }
  .gaugesPanel .deaths {
    float: right; }
    .gaugesPanel .deaths p {
      text-align: left; }
    .gaugesPanel .deaths .deathsValue {
      float: left;
      background: #e94506;
      text-align: right; }

.button {
  font-size: 1.2rem;
  font-weight: 100;
  padding: 0.8rem 1.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 3px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  border: none;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .button.blue {
    background: #2881e2;
    border: 1px solid #1f7ce1;
    color: #fff;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.3); }
  .button.darkBlue {
    color: #fff;
    background: #104386;
    border: 1px solid #0f3e7d;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.3); }
  .button.grey {
    color: #212121;
    background: #a1a1a1;
    border: 1px solid #9c9c9c;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.7); }
  .button.orange {
    color: #fff;
    border: 1px solid #df4206;
    background: #e94506;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.3); }
  .button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset; }
    .button:hover.blue {
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
    .button:hover.darkBlue {
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
    .button:hover.grey {
      text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7); }
    .button:hover.orange {
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0 1em;
  font-family: 'Roboto Slab',  'Times', serif; }

p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-size: 0.8rem;
  font-weight: 200; }

ul {
  padding-left: 1.5rem; }
